**/dgph
*.mode1flutter_hw_4
*.mode2flutter_hw_4
*.moved-aside
*.pbxuser
*.perspectiveflutter_hw_4
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1flutter_hw_4
!default.mode2flutter_hw_4
!default.pbxuser
!default.perspectiveflutter_hw_4
